<footer>
    <footer>
        <div class="footer">
            <p>
                Elaborado por <a href="#">Leonel Alegre</a>
                 - Todos los Derechos Reservados <%= new Date().getFullYear();%>
            </p>
        </div>
    </footer>
</footer>

</body>
</html>